@font-face {
  font-family: 'Montserrat-Black';
  src: url('./fonts/pretendard/Pretendard-Black.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('./fonts/pretendard/Pretendard-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('./fonts/pretendard/Pretendard-ExtraBold.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url('./fonts/pretendard/Pretendard-ExtraLight.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url('./fonts/pretendard/Pretendard-Light.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat-Medium';
  src: url('./fonts/pretendard/Pretendard-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('./fonts/pretendard/Pretendard-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('./fonts/pretendard/Pretendard-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat-Thin';
  src: url('./fonts/pretendard/Pretendard-Thin.woff') format('woff');
}

.toggleAnimation {
  animation: ani 0.3s; /* 애니메이션 이름 'ani'을 사용하고 0.3초 동안 실행 */
  animation-delay: 0.3s; /* 0.3초 지연 */
}

/* keyframes 블록을 정의하여 'ani' 애니메이션을 설정합니다. */
@keyframes ani {
  0% {
    transform: rotate(0deg); /* 시작 상태 (0도 회전) */
  }
  100% {
    transform: rotate(180deg); /* 끝 상태 (180도 회전) */
  }
}

.none {
  display: none;
}

.flex {
  display: flex;
}
