@font-face {
  font-family: "Montserrat-Black";
  src: url("./fonts/pretendard/Pretendard-Black.woff") format("woff");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("./fonts/pretendard/Pretendard-Bold.woff") format("woff");
}
@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("./fonts/pretendard/Pretendard-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Montserrat-ExtraLight";
  src: url("./fonts/pretendard/Pretendard-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("./fonts/pretendard/Pretendard-Light.woff") format("woff");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("./fonts/pretendard/Pretendard-Medium.woff") format("woff");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("./fonts/pretendard/Pretendard-Regular.woff") format("woff");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("./fonts/pretendard/Pretendard-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Montserrat-Thin";
  src: url("./fonts/pretendard/Pretendard-Thin.woff") format("woff");
}